<form action="" method="post" name="formContact" id="formContact">
    <div class="dataField">
        <label for="fullName">Name</label>
        <input id="fullName" type="text" name="fullName" required/>
        <label for="emailAddress">Email</label>
        <input id="emailAddress" type="email" name="emailAddress"required/>
        <label for="telephone">Phone</label>
        <input type="tel" id="telephone" name="telephone"/>
        <label for="message">Message</label>
        <textarea id="message"name="message"rows="8"cols="90"></textarea>
    </div>
    <div class="btForm">
        <input type="reset" value="Reset"class="btReset"/>
        <input type="submit" value="Submit" class="btSubmit"/>  
    </div>  
</form>