// fonts
$fontMain: 'Roboto', sans-serif;

// colors
$bgColor: rgba(255, 255, 255, 1);
$primaryColor: rgba(85, 85, 85, 1);
$secondaryColor: rgba(16, 159, 161, 1);
$lightColor: rgba(238, 238, 238, 1);
$reset: rgba(204, 204, 204, 1);

//form
$border-field: 1px solid #DDDDDD;
