.pageHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: $secondaryColor;
}

.logoMaria {
    padding: 18px 40px;
    @media all and (max-width:960px) { 
        display: none;
}
}

.logoMmg {
    padding: 18px 32px;
    @media all and (min-width:961px) { 
        display: none;
}
}


.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.aboutMe {
    padding-right: 70px;
    font-weight: bold;
    @include header();
}

.contact {
    @include header();
    text-decoration: unset;
}